:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  color: black;
}

.background {
  background-image: url("./newspaper.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.kantipur-font {
  font-family: kantipur;
}
.poppins-font {
  font-family: "Poppins", sans-serif;
}
